**/__pycache__/
readme/
.vscode/
.git/

/htmlcov
/site
/.venv
/.pytest_cache

Dockerfile
Dockerfile.prod
README.md
poetry.lock
pyproject.toml
docker-compose.yml
.env
example.env
.gitignore
.dockerignore
.coverage
.python_version