annotated-types==0.6.0 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
anyio==4.2.0 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
certifi==2024.2.2 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
click==8.1.7 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
colorama==0.4.6 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0" and platform_system == "Windows"
exceptiongroup==1.2.0 ; python_full_version >= "3.10.0" and python_version < "3.11"
fastapi==0.109.2 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
h11==0.14.0 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
httpcore==1.0.3 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
httpx==0.26.0 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
idna==3.6 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
pydantic-core==2.16.2 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
pydantic==2.6.1 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
sniffio==1.3.0 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
starlette==0.36.3 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
typing-extensions==4.9.0 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
uvicorn==0.27.1 ; python_full_version >= "3.10.0" and python_full_version < "3.13.0"
